<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <title>Flight Details</title>
    <link rel="stylesheet" href="/style/style1.css">
</head>

<body>
<header>
    <h2>Athens International Airport</h2>
    <p><img th:src="@{/photo/AIA.png}" th:alt="logo"></p>
</header>

<main>
    <h1>Flight Not found! Return to Home Page</h1>

    <a href="/">
        <button>Return to homepage</button>

        <article>
            <h2>Infos</h2>
            <p>Contact</p>
            <p>27210......</p>
        </article>
</main>

<footer>
    <p>&copy; Athens International Airport 2023</p>
</footer>
</body>

</html>
